/* Main styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300&family=Shrikhand&display=swap');

/* ========== MAIN ========== */

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	justify-content: space-evenly;
	flex-direction: column;
	display: flex;
	height: 100vh;
	background-image: linear-gradient(#00FFAB, #8100FF);
}

li, ol, ul {
    padding: 0;
    display: inline-block;
}

h2 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    margin: 0;
}

h3 {
	text-transform: uppercase;
	font-size: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    max-height: 900px;
    text-align: center;
}

.section {
    width: 100%;
    padding: 10px;
}

/* ========= PHRASE ========= */

.letter {
    font-size: 30px;
    text-transform: capitalize;
    height: 75px;
    width: 75px;
    padding: 20px 1px 0 1px;
    margin: 2px 2px 2px 0;
    color: transparent;
    background-color: transparent;
    border: black solid 2px;
    border-radius: 5px;
    font-family: 'Shrikhand', cursive;
	
}

.space {
    width: 15px;
}

.show {
	transition: .5s;
	transition-timing-function: ease-in-out;
	background: rgb(0,30,255);
	background: linear-gradient(108deg, rgba(0,30,255,1) 0%, rgba(243,0,251,1) 25%, rgba(0,79,255,1) 50%, rgba(243,0,251,1) 79%, rgba(24,0,255,1) 100%);   
	border: white solid 2px;
	-webkit-text-stroke: 2px white;
	color: transparent;
}

/* ========= KEYBOARD ========= */

.keyrow {
    display: flex;
    justify-content: center;
}

button {
    margin: 6px;
    padding: .5rem 1rem;
	width: 55px;
	height: 55px;
    color: black;
    font-size: 24px;
    background-color: white;
    border-radius: 5px;
    border: black solid 2px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
	cursor: pointer;
}

/* ========= START / RESTART GAME BUTTON ========= */

.btn {
    padding: 10px;
    margin: 40px auto;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 23px;
	font-weight: bold;
	-webkit-text-stroke: 1.4px white;
	color: transparent;
	background-color: transparent;
	border: solid black 1px;
	box-shadow: 0 0 5px 2px white, inset 0 0 5px 2px black;
	font-family: 'Shrikhand', cursive;
	transition: .8s;
	cursor: pointer;
}

.btn:hover {
	box-shadow: 0 0 5px 2px black, inset 0 0 5px 2px white;
	-webkit-text-stroke: 1.4px black;
	transform: rotate(5deg);
	transition-timing-function: cubic-bezier(.59,-0.97,.84,1.69)
}

/* ========= OVERLAY ========= */

.overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    color: #FFFFFF;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    z-index: 1;
}

.hide-overlay {
    -webkit-transform: translateY(-110%);
	transition: 1s;
	transition-timing-function: cubic-bezier(.6,-0.34,1,.53);
}

.show-overlay {
    -webkit-transform: translateY(0);
	-webkit-animation: anim1 .5s ease-in-out;

}

@-webkit-keyframes anim1 {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}


/* --- OVERLAY TEXT ---*/

.title {
  	text-shadow: 5px 5px 2px white;
	-webkit-text-stroke: 2px black;
	color: transparent;
}

.text-overlay {
	position: relative;
	display: inline-block;
	width: 343.117px;
	height: 41px;
	margin: 0 auto;
}

.text-overlay h3 {
	position: absolute;
	margin: 0;
}
.text-overlay-top {
	z-index: 3;
	text-shadow: 5px 5px 2px white;
	color: transparent;
}

.text-overlay-bottom {
	z-index: 2;
	-webkit-text-stroke: 2px black;
	color: transparent;
}

/* --- OVERLAY BACKGROUNDS ---*/

#start {
    background-image: linear-gradient(#000BE1, #FF00DD);
	z-index: 99;
}	

#win {
    background-image: linear-gradient(#2AFF00, #00F3FF);
	z-index: 98;
}


#lose {
	background-image: linear-gradient(#E80003, #FF6700);
	color: #FF6700;
	z-index: 98;
}